@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-Light-webfont.eot');
    /* src fallbacks ommitted for brevity */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('OpenSans-LightItalic-webfont.eot');
    /* src fallbacks ommitted for brevity */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular-webfont.eot');
    /* src fallbacks ommitted for brevity */
    font-style: normal;
}

@font-face {
font-family: 'Aller Light';
font-style: normal;
font-weight: normal;
src: local('aller/Aller Light') format('woff');
}

	body {
	font-family:  Arial,Tahoma;

	}
		#div_enlace{
			font-family:  Arial,Tahoma;
			width:340px;
			left: 10px;
			position:static;
			bottom: 0;
			right: 5px;
			z-index: 9999;
			background: #eFe;
			padding: 15px;
			box-shadow: 0 0 2px #444;
			border-radius: 5px 5px 5px 5px;
			}
			
			#div_buscador {
			   margin: 0 auto;
			   text-align:center;
			   -moz-border-radius: 4px;
			   -webkit-border-radius: 4px;
			   -o-border-radius: 4px;
			   border: 1px solid #cccccc;
			   font-size:10px;
			   width:950px;
			}
			
			
			#div_paginar {
			   margin: 0 auto;
			   text-align:center;
			   -moz-border-radius: 4px;
			   -webkit-border-radius: 4px;
			   -o-border-radius: 4px;
			   border: 1px solid #cccccc;
			   font-size:10px;
			   width:850px;
			}
			
.blanco { color:#fff;
          text-shadow: 0px;
}

			#div_demo {
			   margin: 0 auto;
			   text-align:center;
			   -moz-border-radius: 4px;
			   -webkit-border-radius: 4px;
			   -o-border-radius: 4px;
			   border: 1px solid #FF719A;
			   font-size:13px;
			   color: #fff;
			   background:#FF719A;
			   width:850px;
			}
		
			
			/* Para Footer */
			 .Footer{

				background: rgba(255,255,255,1);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 96%, rgba(237,237,237,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(255,255,255,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(96%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 96%, rgba(237,237,237,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 96%, rgba(237,237,237,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 96%, rgba(237,237,237,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 96%, rgba(237,237,237,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );


			 	clear:both; border-top:2px solid #0067A6; margin-top:0px; padding-top:10px; display:block; position:relative; overflow:hidden; color:#999;}
			 .Footer img{ margin:2px 2px;}
			 .Footer .sitemap{ float:left; font-size:10px; margin-left:30px; width:360px;}
			 .Footer .sitemap ul{ height:10px; width:180px; margin-top:5px;}
			 .Footer .sitemap ul li{ margin-left:15px; color:#006776;}
			 .Footer .sitemap ul li a{ text-decoration:none; color:#777; font-size:10px; line-height:10px; display:block;}
			 .Footer .sitemap ul li a:hover{ text-decoration:underline; font-size:10px; line-height:10px; display:block; }
			 .Footer .quality{ margin:10px auto; width:500px; float:right;padding-right:30px;  }
			 .Footer .copyright{ float:left;padding-right: 30px; padding-left:5px;margin:10px 10px 10px 10px; text-align:left; color:#999; font-size:11px; position:relative;}
			

		#tex_pos{
		
			color:#FFFFFF;
			width:180px;
			left: 110px;
			position:relative;
			bottom: 0;
			right: 3px;
			z-index: 9999;
			background: #4C93D5;
			padding: 15px;
			margin:10px 0;
			box-shadow: 0 0 2px #444;
			border-radius: 5px 5px 0 0;
			top: 0,05px;
			}	
			
			#tex_pos2{
			font-family:  Arial,Tahoma;
			color:#FFFFFF;
			width:180px;
			left: 110px;
			position:relative;
			bottom: 0;
			right: 3px;
			z-index: 9999;
			background: #88C8E6;
			padding: 15px;
			margin:10px 0;
			box-shadow: 0 0 2px #444;
			border-radius: 5px 5px 0 0;
			top: 0,05px;
			}								
			
		#borde_1{
			font-family:  Arial,Tahoma;
			width: 310px;
			height: 160px;
			left: 10px;
			right: 5px;
			z-index: 9999;
			padding: 15px;
			border-width: 2px; 
			border-style: dotted; 
			border-color: #B8C0C8;
			}	
			
		#borde_2{
			font-family:  Arial,Tahoma;
			width: 50px;
			height: 50px;
			left: 10px;
			right: 5px;
			z-index: 9999;
			padding: 14px;
			border-width: 2px; 
			border-style: dashed; 
			border-color: #0099CC;
			}		
			
		#titulos_div{
			font-family:  Arial,Tahoma;
			color:#0099CC;
			font-size: 12px;
			font-weight: bold;
			width: 65px;
			height: 3px;
			left: 190px;
			right: 4px;
			position:relative;
			z-index: 9999;
			margin-top:-105px;
			padding: 15px;
			border-width: 1px;
			border-style: dashed;
			border-color: #B8C0C8;
		
			}								
				
		#centro {
		   /*margin: 0 auto; text-align:center;*/
		   
		   background: #FFFFFF  repeat-x top left;
		   -moz-border-radius: 8px;
		   -webkit-border-radius: 8px;
		   border-radius: 8px;
		   -moz-box-shadow: 0px 2px 2px ;
		   -webkit-box-shadow: 0px 2px 2px ;
		   box-shadow: 0px 2px 2px;
		   padding: 5px 5px 5px ; 

		}

#centro2 {
		   /*margin: 0 auto; text-align:center;*/
		   margin:1px 1px 1px ;
		   padding: 3px 3px 2px  1px;
          
		   -moz-border-radius: 8px;
		   -webkit-border-radius: 8px;
		   border-radius: 8px;
		   -moz-box-shadow: 0px 1px 1px ;
		   -webkit-box-shadow: 0px 2px 2px ;
		   box-shadow: 0px 1px 1px;
		   background: rgba(227,227,227,1);
			background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,227,227,1)), color-stop(19%, rgba(236,236,236,1)), color-stop(44%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
			background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -o-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -ms-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: linear-gradient(to bottom, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#fefefe', GradientType=0 );



		}



#centro3 {
		   /*margin: 0 auto; text-align:center;*/
		   margin:1px 1px 1px ;
		   padding: 3px 3px 2px  1px;
          
		   -moz-border-radius: 8px;
		   -webkit-border-radius: 8px;
		   border-radius: 8px;
		   -moz-box-shadow: 0px 1px 1px ;
		   -webkit-box-shadow: 0px 2px 2px ;
		   box-shadow: 0px 1px 1px;
		   background: rgba(227,227,227,1);
			background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,227,227,1)), color-stop(19%, rgba(236,236,236,1)), color-stop(44%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
			background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -o-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -ms-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: linear-gradient(to bottom, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#fefefe', GradientType=0 );



		}



		.menuprincipal{

		   margin:20px 20px;
		   
		   line-height:300%;
		   width: 700px;
		   height: 250px;

		   -moz-border-radius: 5px;
		   -webkit-border-radius: 5px;
		   border-radius: 5px;
		   -moz-box-shadow: 0px 2px 2px ;
		   -webkit-box-shadow: 0px 2px 2px ;
		   box-shadow: 0px 5px 10px;
		   padding: 5px 5px 5px 5px;
		   background: transparent;
			/*
			background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,227,227,1)), color-stop(19%, rgba(236,236,236,1)), color-stop(44%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
			background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -o-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -ms-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: linear-gradient(to bottom, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#fefefe', GradientType=0 );
*/

		}


		

			.menu2{
			text-align: center;
		   margin:50px 50px;
		   padding: 30px;


		   width: 850px;
		   height: 350px;
		   -moz-border-radius: 8px;
		   -webkit-border-radius: 8px;
		   border-radius: 8px;
		   -moz-box-shadow: 02px 5px 5px;
		   -webkit-box-shadow: 2px 5px 5px;
		   box-shadow: 2px 5px 5px;

			background: rgba(227,227,227,1);
			background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,227,227,1)), color-stop(19%, rgba(236,236,236,1)), color-stop(44%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
			background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -o-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: -ms-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			background: linear-gradient(to bottom, rgba(227,227,227,1) 0%, rgba(236,236,236,1) 19%, rgba(254,254,254,1) 44%, rgba(254,254,254,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#fefefe', GradientType=0 );		}



.menu3{
			text-align: center;
		   margin:10px 10px;
		   padding: 10px;


		   width: 480px;
		   height: 150px;
		   -moz-border-radius: 8px;
		   -webkit-border-radius: 8px;
		   border-radius: 8px;
		   -moz-box-shadow: 02px 5px 5px;
		   -webkit-box-shadow: 2px 5px 5px;
		   box-shadow: 2px 5px 5px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,bce0ee+40,bce0ee+40,29b8e5+100 */
background: #b3dced; /* Old browsers */
background: -moz-linear-gradient(top,  #b3dced 0%, #bce0ee 40%, #bce0ee 40%, #29b8e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b3dced 0%,#bce0ee 40%,#bce0ee 40%,#29b8e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b3dced 0%,#bce0ee 40%,#bce0ee 40%,#29b8e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */



}




	
			.menuactivos{
font-family:  Arial,Tahoma;
		   margin:20px 20px;
		   padding:20px 20px;
		   width: 150px;
		   text-align:center;
		    line-height:90%;
		   border-radius: 10px;
		   line-height:130%;
		   width: 800px;
		   height: 50px;

			background: rgba(212,228,245,1);
			background: -moz-linear-gradient(top, rgba(212,228,245,1) 0%, rgba(212,228,245,1) 63%, rgba(162,203,246,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,245,1)), color-stop(63%, rgba(212,228,245,1)), color-stop(100%, rgba(162,203,246,1)));
			background: -webkit-linear-gradient(top, rgba(212,228,245,1) 0%, rgba(212,228,245,1) 63%, rgba(162,203,246,1) 100%);
			background: -o-linear-gradient(top, rgba(212,228,245,1) 0%, rgba(212,228,245,1) 63%, rgba(162,203,246,1) 100%);
			background: -ms-linear-gradient(top, rgba(212,228,245,1) 0%, rgba(212,228,245,1) 63%, rgba(162,203,246,1) 100%);
			background: linear-gradient(to bottom, rgba(212,228,245,1) 0%, rgba(212,228,245,1) 63%, rgba(162,203,246,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4f5', endColorstr='#a2cbf6', GradientType=0 );


		}

			.menuactivosA{
			font-family:  Arial,Tahoma;
		   margin:20px 20px;
		   padding:20px 20px;
	
		   text-align:center;
		    line-height:90%;
		   border-radius: 10px;
		 

		   height: 50px;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */

		}




	.menuactivos2{

		   margin:20px 20px;
		   padding:20px 20px;
		   width: 150px;
		   text-align:center;
		    line-height:90%;
		   border-radius: 20px;
		   line-height:130%;
		   width: 800px;
		   height: 60px;

			background: rgba(232,238,245,1);
			background: -moz-linear-gradient(top, rgba(232,238,245,1) 0%, rgba(232,238,245,1) 63%, rgba(162,162,175,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,238,245,1)), color-stop(63%, rgba(232,238,245,1)), color-stop(100%, rgba(162,162,175,1)));
			background: -webkit-linear-gradient(top, rgba(232,238,245,1) 0%, rgba(232,238,245,1) 63%, rgba(162,162,175,1) 100%);
			background: -o-linear-gradient(top, rgba(232,238,245,1) 0%, rgba(232,238,245,1) 63%, rgba(162,162,175,1) 100%);
			background: -ms-linear-gradient(top, rgba(232,238,245,1) 0%, rgba(232,238,245,1) 63%, rgba(162,162,175,1) 100%);
			background: linear-gradient(to bottom, rgba(232,238,245,1) 0%, rgba(232,238,245,1) 63%, rgba(162,162,175,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4f5', endColorstr='#a2cbf6', GradientType=0 );


		}
	

	
.menuconsumo{

		   margin:20px 20px;
		   text-align:center;
		   padding:20px 20px;
		 
		   line-height:130%;
		   width: 800px;
		   height: 50px;
		background: rgba(211,235,237,0.76);
		background: -moz-linear-gradient(top, rgba(211,235,237,0.76) 0%, rgba(211,235,237,0.9) 60%, rgba(150,224,191,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(211,235,237,0.76)), color-stop(60%, rgba(211,235,237,0.9)), color-stop(100%, rgba(150,224,191,1)));
		background: -webkit-linear-gradient(top, rgba(211,235,237,0.76) 0%, rgba(211,235,237,0.9) 60%, rgba(150,224,191,1) 100%);
		background: -o-linear-gradient(top, rgba(211,235,237,0.76) 0%, rgba(211,235,237,0.9) 60%, rgba(150,224,191,1) 100%);
		background: -ms-linear-gradient(top, rgba(211,235,237,0.76) 0%, rgba(211,235,237,0.9) 60%, rgba(150,224,191,1) 100%);
		background: linear-gradient(to bottom, rgba(211,235,237,0.76) 0%, rgba(211,235,237,0.9) 60%, rgba(150,224,191,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3ebed', endColorstr='#96e0bf', GradientType=0 );
		}
	
		.menugral{
		   margin:20px 20px;
		   padding:20px 20px;
		  
		   line-height:150%;
		   width: 800px;
		   height: 50px;

			background: rgba(245,248,251,1);
			background: -moz-linear-gradient(top, rgba(245,245,251,1) 0%, rgba(245,245,251,1) 43%, rgba(237,215,217,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,251,1)), color-stop(43%, rgba(245,240,251,1)), color-stop(100%, rgba(237,215,217,1)));
			background: -webkit-linear-gradient(top, rgba(245,245,251,1) 0%, rgba(245,245,251,1) 43%, rgba(237,215,217,1) 100%);
			background: -o-linear-gradient(top, rgba(245,245,251,1) 0%, rgba(245,245,251,1) 43%, rgba(237,215,217,1) 100%);
			background: -ms-linear-gradient(top, rgba(245,245,251,1) 0%, rgba(245,245,251,1) 43%, rgba(237,215,217,1) 100%);
			background: linear-gradient(to bottom, rgba(245,245,251,1) 0%, rgba(245,245,251,1) 43%, rgba(237,215,217,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fDf0fb', endColorstr='#f4bed9', GradientType=0 );
		}
	#generador{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,aaaaaa+100 */
			background: rgba(237,237,237,1);
			background: -moz-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 27%, rgba(246,246,246,1) 60%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,237,237,1)), color-stop(27%, rgba(237,237,237,1)), color-stop(60%, rgba(246,246,246,1)), color-stop(84%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 27%, rgba(246,246,246,1) 60%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
			background: -o-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 27%, rgba(246,246,246,1) 60%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
			background: -ms-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 27%, rgba(246,246,246,1) 60%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
			background: radial-gradient(ellipse at center, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 27%, rgba(246,246,246,1) 60%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 );
			border-radius: 2px ;

			width: 280px;
		    text-align:center;
		}


			.tabla_1 {
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #eee;
		   text-align: left;
		   font-size: 11px;
		   width: 98%;
		   background-color: #3B6A89;
		   -moz-box-shadow: 0px 2px 5px #666;
		   -webkit-box-shadow: 0px 2px 5px #666;
		   box-shadow: 0px 2px 5px #666;
		}	
		
			.tabla_k {
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #cccccc;
		   text-align: left;
		   font-size: 11px;
		   width: 40%;
		   background-color: #FFFFFF;
		   -moz-box-shadow: 0px 2px 5px #666;
		   -webkit-box-shadow: 0px 2px 5px #666;
		   box-shadow: 0px 2px 5px #666;
		   
		}	
		
		
		
		
		
		
		
		.tabla_2 {
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #cccccc;
		   text-align: left;
		   font-size: 11px;
		   
		   background-color: #FFFFFF;
		   -moz-box-shadow: 0px 2px 5px #666;
		   -webkit-box-shadow: 0px 2px 5px #666;
		   box-shadow: 0px 2px 5px #666;
		}		
		
		.tabla_2a {
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #cccccc;
		   text-align: left;
		   font-size: 11px;
		 
		   background-color: #FFFFFF;
		   -moz-box-shadow: 0px 2px 5px #666;
		   -webkit-box-shadow: 0px 2px 5px #666;
		   box-shadow: 0px 2px 5px #666;
		}	




		.tabla_3 {
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #cccccc;
		   text-align: left;
		   font-size: 12px;
		   width: 100%;
		   background-color: #FFFFFF;
		   -moz-box-shadow: 0px 2px 5px #666;
		   -webkit-box-shadow: 0px 2px 5px #666;
		   box-shadow: 0px 2px 5px #666;
		}

.tabla_4 {
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #cccccc;
		   text-align: left;
		   font-size: 12px;
		   width: 47%;
		   	   max-width: 49%;
		   background-color: #FFFFFF;
		   -moz-box-shadow: 0px 2px 5px #666;
		   -webkit-box-shadow: 0px 2px 5px #666;
		   box-shadow: 0px 2px 5px #666;
		}


		
	.tabla_entrega {
			float: left;
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #333;
		   text-align: left;
		   font-size: 11px;
		   width: 47%;
		   max-width: 49%;
		   background-color: #eee;
		   -moz-box-shadow: 0px 2px 2px #666;
		   -webkit-box-shadow: 0px 2px 2px #666;
		   box-shadow: 0px 1px 3px #666;
		}	
		
	.tabla_recibe {
			float: right;
		   margin: 0 auto;
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -o-border-radius: 4px;
		   border: 1px solid #777;
		   text-align: left;
		   font-size: 11px;
		   width: 48.9%;
		   max-width: 49.9%;
		   background-color: #eee;
		   -moz-box-shadow: 0px 2px 2px #666;
		   -webkit-box-shadow: 0px 2px 5px #666;
		   box-shadow: 0px 1px 3px #666;
		}	
		



.botonesfila  {

			
			display: inline-block;

			}

		#div_bienvenido{
			height: 20px;
			text-align: right;
			color:#222;	
			font-family:  Arial,Tahoma;
			font-weight:bold;
			margin-right: 5px;
			position: relative;
			top: 2px;
			font-size: 13px;	
			z-index:900;
			text-shadow: 0 0px  #ddd;	
			
		}
		
		#div_usuarios{
			height: 18px;
			text-align: right;
			font-family:  Arial,Tahoma;
			font-weight:solid;
			margin-right: 3px;
			position: relative;
			top: 1px;
			font-size:14px;
			color:#00aaCC;	
			z-index:900;
			/*text-shadow: 1px 1px  #ddd;	*/
			
		}
		
		.menusuper{
			background: #E8EBD1;
			margin: 0px 10px 10px 10px;
			-moz-border-radius: 0px 0px 8px 8px;
			-webkit-border-radius: 0px 0px 8px 8px;
			border-radius: 0px 0px 8px 8px;
			-moz-box-shadow: 0px 7px 10px #011E3A;
			-webkit-box-shadow: 0px 7px 10px #011E3A;
			box-shadow: 0px 7px 10px #011E3A;
			padding-bottom: 8px;
			}

		.sombra {
			width: 374px;
			min-width: 200px;
			min-height: 130px;
			margin: auto;
			background: #F8FBFC;
			border: 5px solid white;
			position:relative;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			-moz-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			-webkit-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
		}


		.limite {
			width: 404px;
			min-width: 200px;
			min-height: 70px;
			margin: auto;
			padding-top: 20px;
				color: #fff;	
			background: #F87381;
			border: 3px solid white;
			font-size: 18px;
			position:relative;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			-moz-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			-webkit-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			margin-bottom: 40px;
			margin-top: 40px;
			text-align: center;
		}


		.quitarok {
			width: 400px;
			min-width: 200px;
			min-height: 25px;
			height: 67px;
			margin: auto;
			background: #38d3a1;
			text-align: center;
			color: #fff;	
		    text-shadow: 0 1px 0 #999;	
		    padding: 15px ;
			font-size: 17px;
			border: 3px solid white;
			position:relative;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			-moz-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			-webkit-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.73);
			margin-bottom: 40px;
			margin-top: 20px;
		}


	.entradaanterior {
			
			min-width: 200px;
			min-height: 18px;
			height: 33px;
			margin: 2px;
			padding-top: 10px;
		  padding-left:20px;
			text-align: center;
			color: #eff;	
		    text-shadow: 0 1px 0 #999;	
			text-align: left;
			font-size: 18px;
			border: 3px solid;
			border-color: #cfcfcf;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.73);
			-moz-box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.73);
			-webkit-box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.73);




background: rgba(13,110,143,1);
background: -moz-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,110,143,1)), color-stop(1%, rgba(13,110,143,1)), color-stop(100%, rgba(33,153,222,1)));
background: -webkit-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: -o-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: -ms-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: linear-gradient(to bottom, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d6e8f', endColorstr='#2199de', GradientType=0 );

		}
	.salidaanterior {
			
min-width: 200px;
			min-height: 18px;
			height: 35px;
			margin: 2px;
			padding-top: 1px;
		  padding-left:20px;
        padding-bottom: 10px;
			text-align: center;
			color: #eff;	
		    text-shadow: 0 1px 0 #999;	
			text-align: left;
			font-size: 18px;
			border: 2px solid;
			border-color: #cfcfcf;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.73);
			-moz-box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.73);
			-webkit-box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.73);


background: rgba(13,110,143,1);
background: -moz-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,110,143,1)), color-stop(1%, rgba(13,110,143,1)), color-stop(100%, rgba(33,153,222,1)));
background: -webkit-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: -o-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: -ms-linear-gradient(top, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
background: linear-gradient(to bottom, rgba(13,110,143,1) 0%, rgba(13,110,143,1) 1%, rgba(33,153,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d6e8f', endColorstr='#2199de', GradientType=0 );

			
		}



		.textoblanco{

			font-size: 14px;
			color: #fff;	

		}

		.vence {
			width: 374px;
			min-width: 200px;
			min-height: 130px;
			margin: auto;
			background: #FF719A;
			color:#FFF;
			border: 5px solid white;
			position:relative;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.83);
			-moz-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.83);
			-webkit-box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.83);
		}
		

		.alerta2 {
			
			font-size: 	12px;
			background: #F5717A;
			color:#fff;
		    
		}
		
		
		.titulo {

			
			
			font-size: 30px;
			text-align: center;
 			text-shadow: 1px 3px 0 #ddd;	
 			font-family:  Arial,Tahoma;
			
			color: #1B7cc6;
			background-position: center;

		}


			.subtitulo {
			font-size: 20px;
			text-align: left;
 			text-shadow: 1px 2px 0 #ddd;	
			border: 2px solid white;
			color: #1c7dd6;
			background-position: center;
		}
		

		.texto {
		font-family:  Arial,Tahoma;
			font-size: 12px;
			color: #000;
			font-weight: bolder;
		}
		
		.etitulo {
				font-family:  Arial,Tahoma;
			font-size: 20px;
			color: #E7E8E9;
			font-weight: bolder;
		}
		
		.fila1 {
				font-family:  Arial,Tahoma;
			font-size: 10px;
			color: #fff;
			background:#006299;
			font-weight: bolder;
			border-radius: 2px;
			text-align:center;


			
		}

		.titulos_menu{
		font-size: 13px;
		width: 15px;
		height: 15px;
		text-align: left;
		color:  #303030;
		text-shadow: 1px 1px 2px #fafafa;	
		
		    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;





	}

	.titulos_menu:hoover{


	 -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
	}
			

		.fila2 {
				font-family:  Arial,Tahoma;
			font-size: 10px;
			color: #1B1B1C;
			background:#f3f4f6;
			/*font-weight: bold;*/
			border-radius: 1px ;
				}


.fila5a {
				font-family:  Arial,Tahoma;
			font-size: 12px;
			color: #333;
			background:transparent;
			/*font-weight: bold;*/
			
				}
		/*
			.input_descripcion{
			
    
	font-family:  Arial,Tahoma;
			font-size: 13px;

			overflow:visible;
			overflow-x:scroll;
			color: #1B1B1C;
			background:#ffffff;
			/*font-weight: bold;*/
			/*border-radius: 1px;*/
			/*text-align: justify;*/
	
/*			}*/

	.fila2a {
				font-family:  Arial,Tahoma;
			font-size: 10px;
			color: #1B1B1C;
			background:#DDEFEE;
			/*font-weight: bold;*/
			border-radius: 1px ;
				}

	.fila2b {
	font-family:  Arial,Tahoma;
			font-size: 10px;
			color: #1B1B1C;
			background:#EFCDDD;
			/*font-weight: bold;*/
			border-radius: 1px ;
				}

	.fila2c {
	font-family:  Arial,Tahoma;
			font-size: 10px;
			color: #1B1B1C;
			background:#BCDDFF;
			/*font-weight: bold;*/
			border-radius: 1px ;
				}




		.fila3 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#BFC1C1;
			font-weight: bolder;
			border-radius: 3px;
			
								
				}
				
		 .fila4 {
		font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#E8E7E7;
			font-weight: bolder;
			border-radius: 3px;
			text-align: right;			
				}
				
	  .fila5 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #D11305;
			background:#E8E7E7;
			font-weight: bolder;
			border-radius: 3px;
			text-align: right;
		  }
		  
	  .fila6 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#FDFDFF;
			font-weight: bolder;
			border-radius: 3px;
			text-align: left;
		  }
		  
	  .fila7 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#5D949D;
			font-weight: bolder;
			border-radius: 3px;
			text-align: left;
		  }


	  .fila8 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#86C3A5;
			font-weight: bolder;
			border-radius: 3px;
			text-align: left;
		  }
		  
		.fila9 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#EDFC98;
			font-weight: bolder;
			border-radius: 3px;
			text-align: left;
		  }
		  
		  .fila10 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #FF033E;
			background:#E8E7E7;
			font-weight: bolder;
			border-radius: 2px;
			text-align: left;
			}
				
			.fila11 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#D8B9FC;
			font-weight: bolder;
			border-radius: 3px;
			text-align: left;
			
			}
			
			.fila12 {
	font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #1B1B1C;
			background:#FCB9C3;
			font-weight: bolder;
			border-radius: 3px;
			text-align: left;
			}
			
			.fila13 {
				font-family:  Arial,Tahoma;
			font-size: 11px;
			color: #fff;
			background:#78CBB4;
			font-weight: bolder;
			text-align: left;
			border-radius: 4px;
			
		}
		/* INICIO DE LA CREACION DE LOS BOTONES */
		.botonguardar{ 
		background:-moz-linear-gradient(#3163a4 0%,#69a7cc 100%); 
		background:-ms-linear-gradient(#3163a4 0%,#69a7cc 100%); 
		background:-o-linear-gradient(#3163a4 0%,#69a7cc 100%); 
		background:-webkit-linear-gradient(#3163a4 0%,#69a7cc 100%); 
		background:linear-gradient(#3163a4 0%,#69a7cc 100%);
		border:solid 1px #DEDEDE; 
		border-radius:5px;
		text-align:center;
		font-family:  Arial,Tahoma;
		font-weight:bolder;
		padding:3px; 
		color:#acccef;
		width:105px;
		} 
		.botonguardar:hover{
            background:-webkit-linear-gradient(#fEffFf 0%,#91e9ff 100%);
		background:-moz-linear-gradient(#4EDBF1 0%,#91d9ff 100%);
		color:#eee; 
		}
.botonver{ 
		background:-moz-linear-gradient(#C9E2F5 0%,#C9E7F5 100%); 
		background:-ms-linear-gradient(#C9E2F5 0%,#C9E7F5 100%);
		background:-o-linear-gradient(#C9E2F5 0%,#C9E7F5 100%); 
		background:-webkit-linear-gradient(#C9E2F5 0%,#C9E7F5 100%);
		background:linear-gradient(#C9E2F5 0%,#C9E7F5 100%);
		border:solid 1px #FEFEFE; 
		border-radius:5px;
		text-align:center;
		font-family:  Arial,Tahoma;
		font-weight:bolder;
		padding:3px; 
		color:#3999CE;
		width:75px;
    height:25px;    
		} 


	.botonguardarMINI{ 
		background:-moz-linear-gradient(#91D364 0%,#C9E7B5 100%); 
		background:-ms-linear-gradient(#91D364 0%,#C9E7B5 100%);
		background:-o-linear-gradient(#91D364 0%,#C9E7B5 100%); 
		background:-webkit-linear-gradient(#91D364 0%,#C9E7B5 100%);
		background:linear-gradient(#91D364 0%,#C9E7B5 100%);
		border:solid 1px #DEDEDE; 
		border-radius:5px;
		text-align:center;
		font-family:  Arial,Tahoma;
		font-weight:bolder;
		padding:3px; 
		color:#3B5928;
		font-size: 10px;
		width:75px;
		} 
		.botonguardar:hover{
		background:-moz-linear-gradient(#31A3C4 0%,#C9d7fc 100%); 
	color:#777;
		}



			.botonguardar2{ 
					background:-moz-linear-gradient(#31A3C4 0%,#C9d7fc 100%); 
		background:-ms-linear-gradient(#31A3C4 0%,#C9d7fc 100%);
		background:-o-linear-gradient(#31A3D4 0%,#C9d7fc 100%); 
		background:-webkit-linear-gradient(#31a3C4 0%,#C9D7fc 100%);
		background:linear-gradient(#31a3DA 0%,#89d7f5 100%);
			border:solid 1px #DEDEDE; 
			border-radius:5px;
			text-align:center;
	font-family:  Arial,Tahoma;
                font-size:13px;
			font-weight:bolder;
			padding:3px; 
				color:#777;
			width:125px;
			height: 40px;
			} 
			.botonguardar2:hover{
			background:-moz-linear-gradient(#4a7Be1 0%,#3149cB 100%);
			color:#a0c9f3; 
			}

		.botonguardar3{ 
				background:-moz-linear-gradient(#24A3e1 0%,#29A7D5 100%); 
				background:-ms-linear-gradient(#24A3E1 0%,#29A7D5 100%);
				background:-o-linear-gradient(#24A3e1 0%,#29A7D5 100%); 
				background:-webkit-linear-gradient(#2A43e1 0%,#29A7D5 100%);
				background:linear-gradient(#24A3e1 0%,#44c7D5 100%);
				border:solid 1px #DEDEDE; 
				border-radius:15px;
				text-align:center;
		font-family:  Arial,Tahoma;
				font-weight:bolder;
				padding:1px;
				width:25px;
				height: 25px;
				font-size: 16px solid; 
				color:#DDDDDD;
				
				} 
				.botonguardar3:hover{
				background:-moz-linear-gradient(#AECBF1 0%,#C1fAfC 100%);
				color:#FFFFFF; 
				}

				.botonbuscar{ 
				background:-moz-linear-gradient(#64C6D5 0%,#3A71A1 100%); 
				background:-ms-linear-gradient(#64C6D5 0%,#3A71A1 100%);
				background:-o-linear-gradient(#64C6D5 0%,#3A71A1 100%); 
				background:-webkit-linear-gradient(#64C6D5 0%,#3A71A1 100%);
				background:linear-gradient(#64C6D5 0%,#3A71A1 100%);
				border:solid 1px #DEDEDE; 
				border-radius:5px;
				text-align:center;
		font-family:  Arial,Tahoma;
				font-weight:bolder;
				padding:3px; 
				color:#1557B3;
				width:115px;
				} 
				.botonbuscar:hover{
				background:-moz-linear-gradient(#31657B 0%,#64C6D5 100%);
				color:#FCFDFF; 
				}
				
				
				
				.botoncancelar{ 
				background:-moz-linear-gradient(#DA96A6 0%,#EBBDC8 100%); 
				background:-ms-linear-gradient(#DA96A6 0%,#EBBDC8 100%);
				background:-o-linear-gradient(#DA96A6 0%,#EBBDC8 100%); 
				background:-webkit-linear-gradient(#DA96A6 0%,#EBBDC8 100%);
				background:linear-gradient(#DA96A6 0%,#EBBDC8 100%);
				border:solid 1px #DEDEDE; 
				border-radius:5px;
				text-align:center;
		font-family:  Arial,Tahoma;
				font-weight:bolder;
				padding:3px; 
				color:#82273D;
				width:115px;
				} 
				.botoncancelar:hover{
				background:-moz-linear-gradient(#BC4561 0%,#E491A4 100%);
				color:#F2dDfE; 
				}
				
						.botoncancelarmini{ 
				background:-moz-linear-gradient(#DA96A6 0%,#EBBDC8 100%); 
				background:-ms-linear-gradient(#DA96A6 0%,#EBBDC8 100%);
				background:-o-linear-gradient(#DA96A6 0%,#EBBDC8 100%); 
				background:-webkit-linear-gradient(#DA96A6 0%,#EBBDC8 100%);
				background:linear-gradient(#DA96A6 0%,#EBBDC8 100%);
				border:solid 1px #DEDEDE; 
				border-radius:5px;
				font-size: 10px;
				text-align:center;
		font-family:  Arial,Tahoma;
				font-weight:bolder;
				padding:3px; 
				color:#82273D;
				width:70px;
				} 


				.botonazul{ 
				background:-moz-linear-gradient(#BADEF4 0%,#1E648F 100%); 
				background:-ms-linear-gradient(#BADEF4 0%,#1E648F 100%);
				background:-o-linear-gradient(#BADEF4 0%,#1E648F 100%); 
				background:-webkit-linear-gradient(#BADEF4 0%,#1E648F 100%);
				background:linear-gradient(#BADEF4 0%,#1E648F 100%);
				border:solid 1px #DEDEDE; 
				border-radius:5px;
				text-align:center;
		font-family:  Arial,Tahoma;
				font-weight:bolder;
				padding:3px; 
				color:#0C3449;
				width:115px;
				} 
				.botonazul:hover{
				background:-moz-linear-gradient(#5675A1 0%,#3B79D0 100%);
				color:#88CCE2; 
				}
				
				
				/* FIN DE LA CREACION DE LOS BOTONES */

			
			/* INICIO DE LA CREACION DEL EVENTO CONTENIDO MOUSE    */

			.ch-item {
			width: 50%;
			height: 50%;
			border-radius: 50%;
			position: relative;
			cursor: default;
			box-shadow: 
				inset 0 0 0 16px rgba(255,255,255,0.6),
				0 1px 2px rgba(0,0,0,0.1);
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.img-1 { 
			background-image: url(../imagenes/add.png);
		}

		.img-2 { 
			background-image: url(../images/2.jpg);
		}

		.img-3 { 
			background-image: url(../images/3.jpg);
		}

		.info {
			position: absolute;
			background: rgba(63,60,60, 0.8);
			width: 1.398in;
			height: 1.133in;
			border-radius: 100%;
			opacity: 0;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-o-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
			-webkit-backface-visibility: hidden;
			left: -12px;
			top: -11px;
			background-color: #F4F5F6;

		}

		.info h3 {
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 12px;
			margin: 0 30px;
			padding: 45px 0 0 0;
			height: 140px;
			font-family: 'Open Sans', Arial, sans-serif;
			text-shadow: 
				0 0 1px #fff, 
				0 1px 2px rgba(0,0,0,0.3);
		}

		.info p {
			color: #fff;
			padding: 10px 5px;
			font-style: italic;
			margin: 0 30px;
			font-size: 12px;
			border-top: 1px solid rgba(255,255,255,0.5);
			opacity: 0;
			-webkit-transition: all 1s ease-in-out 0.4s;
			-moz-transition: all 1s ease-in-out 0.4s;
			-o-transition: all 1s ease-in-out 0.4s;
			-ms-transition: all 1s ease-in-out 0.4s;
			transition: all 1s ease-in-out 0.4s;
		}

		.info p a {
			display: block;
			color: #fff;
			color: rgba(255,255,255,0.7);
			font-style: normal;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 9px;
			letter-spacing: 1px;
			padding-top: 4px;
			font-family: 'Open Sans', Arial, sans-serif;
		}

		.info p a:hover {
			color: #fff222;
			color: rgba(255,242,34, 0.8);
		}

		.ch-item:hover {
			box-shadow: 
				inset 0 0 0 1px rgba(255,255,255,0.1),
				0 1px 2px rgba(0,0,0,0.1);
		}
		.ch-item:hover .info {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}

		.ch-item:hover .info p {
			opacity: 1;
		}

		#cdawrap{
			text-align: center; 
			width: 180px; 
			height: auto;
			right: 15px; 
			top: 35px;  
			position: fixed; 
			background: rgba(255,255,255,0.8);
			border: 1px rgba(0,0,0,0.1);
			z-index: 1000000;
		font-family:  Arial,Tahoma;
		}

		body #cdawrap .one .bsa_it_ad .bsa_it_p a:hover {
		    font-style: italic;
		}

		body #cdawrap .adpacks{
			background: #fff;
			padding: 15px;
			margin: 15px 0 0;
			border: 3px solid #eee;
		}

		body #cdawrap .carbonad {
			background: transparent;
			width: auto;
			height: auto;
			line-height: 1;
			border: none;
			padding: 10px 20px 40px;
		}

		body #cdawrap .carbonad-tag {
			position: absolute;
			margin: 0;
			bottom: 10px;
			left: 10px;
			float: none;
		}

		body #cdawrap .carbonad-img {
			float: none;
			margin: 5px auto;
			display: block;
		}

		body #cdawrap .carbonad-text {
			margin: 0;
			width: auto;
			height: auto;
			float: none;
		}

		body #cdawrap .one .bsa_it_ad{
			background: transparent; 
			border:none;
					font-family:  Arial,Tahoma;
			padding:10px 15px 10px 10px; 
			margin:0;
		}
		body #cdawrap .one .bsa_it_ad .bsa_it_i{
			display:block;
			padding:0;
			float:none;
			margin:0 0 5px;
		}

		body #cdawrap .one .bsa_it_ad .bsa_it_i img{
			padding:0;
			border:none;
		}
			
		body #cdawrap .one .bsa_it_ad .bsa_it_t{
			padding: 6px 0;
		}

		body #cdawrap .one .bsa_it_ad .bsa_it_d {
			color: #777;
			font-size: 11px;
		}

		body #cdawrap .one .bsa_it_p{
			display:none;
		}
		body #cdawrap #bsap_aplink,
		body #cdawrap #bsap_aplink:hover{
			display: block;
			font-size: 10px;
			margin: 0px;
			position: relative;
			text-align: right;
			color: #b62b27;
			font-style: italic;
			padding: 5px;
		}
		#cdawrap .one .bsa_it_ad{
			padding: 10px;
		}
		#cdawrap .one .bsa_it_ad .bsa_it_i{
			margin: 0px;
			float: none;
		}

		#cdawrap .adhere.ad1.odd{
			bottom: 10px;
			position: absolute;
			font-size: 11px;
			right: 10px;
		}

		#cdawrap.custom-ad-no-text{
			width: 160px; 
			height: 135px;
		}
		#cdawrap.custom-ad-no-text a.custom-ad-link{
			display: block;
			margin: 15px 0 0 15px;
			text-align: left;
		}
		#cdawrap .fusionentire{
			display: block;
			padding: 10px 0;
		}
		#cdawrap #fusion_ad a{
			display: block;
			padding: 10px;
			font-size: 11px;
			color: #333;
		}
		#cdawrap #fusion_ad .poweredbyfusion {
			font-size: 10px;
		}
		@media screen and (max-width: 800px){ 
			#cdawrap,
			#cdawrap.custom-ad-no-text{
				width: 100%; 
				height: auto; 
				right: 0px; 
				top: auto; 
				bottom: 0px !important;
				left: 0px !important;
				background: #fff;
			} 
			#cdawrap.custom-ad-no-text a.custom-ad-link{
				margin: 15px auto 0 auto;
				text-align: center;
			}
			#cdawrap .one .bsa_it_ad .bsa_it_i{
				top: auto; 
				bottom: 2px;
			} 
		}

		@media screen and (max-width: 400px){ 
			#cdawrap{display: none !important;}
		}

		@import url('normalize.css');

		/* General Demo Style */
		body{
			font-family:  Arial,Tahoma;
			background: #f9f9f9 url();
			font-weight: 300;
			font-size: 12px;
			color: #333;
			-webkit-font-smoothing: antialiased;
			overflow-y: scroll;
			overflow-x: scroll;
		}
		}
		a{
			
		}
		.container{
			width: 100%;
			position: relative;
		}

		.barrasup_{
            padding-left: 10px;
            padding 30px;
			padding-top: 2px;
            font-size: 15px;
            line-height: 4px;
			text-align: left;
            float:left;
			border-radius: 8px;
			color: #fff;	
			width: 100%;
			height: 75px;
			position: relative;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+12,4293d6+13,2989d8+39,2989d8+39,0a4d99+92 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 12%, #4293d6 13%, #2989d8 39%, #2989d8 39%, #0a4d99 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 12%,#4293d6 13%,#2989d8 39%,#2989d8 39%,#0a4d99 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 12%,#4293d6 13%,#2989d8 39%,#2989d8 39%,#0a4d99 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0a4d99',GradientType=1 ); /* IE6-9 */




		
		}


		.clr{
			clear: both;
			padding: 0;
			height: 0;
			margin: 0;
		}
		.main{
			width: 350%;
			margin: 0 auto;
			position: relative;
		}
		.container > header{
			margin: 10px;
			padding: 20px 10px 10px 10px;
			position: relative;
			display: block;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		    text-align: center;
		}
		.container > header h1{
			font-size: 32px;
			line-height: 32px;
			margin: 0;
			position: relative;
			font-weight: 300;
			color: #777;
			text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
		}
		.container > header h2{
			font-size: 14px;
			font-weight: 300;
			font-style: italic;
			margin: 0;
			padding: 15px 0 5px 0;
			color: #888;
		
		}
		/* Header Style */
		.codrops-top{
			line-height: 24px;
			font-size: 11px;
			background: #fff;
			background: rgba(255, 255, 255, 0.6);
			text-transform: uppercase;
			z-index: 9999;
			position: relative;
			box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
		}
		.codrops-top a{
			padding: 0px 10px;
			letter-spacing: 1px;
			color: #333;
			display: inline-block;
		}
		.codrops-top a:hover{
			background: rgba(255,255,255,0.3);
		}
		.codrops-top span.right{
			float: right;
		}
		.codrops-top span.right a{
			float: left;
			display: block;
		}
		/* Demo Buttons Style */
		.codrops-demos{
		    text-align:center;
			display: block;
			line-height: 30px;
			padding: 5px 0px;
		}
		.codrops-demos {
		    display: inline-block;
			font-style: italic;
			margin: 0px 4px;
			padding: 0px 6px;
			color: #aaa;
			line-height: 20px;	
			font-size: 13px;
			text-shadow: 1px 1px 1px #fff;
			border: 1px solid #fff;
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
			background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		}
		.codrops-demos a:hover{
			color: #333;
			background: #fff;
		}
		.codrops-demos a:active{
			background: #fff;
		}
		.codrops-demos a.current-demo,
		.codrops-demos a.current-demo:hover{
			background: #f0f0f0;
			border-color: #d9d9d9;
			color: #aaa;
			box-shadow: 0 1px 1px rgba(255,255,255,0.7);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
		}

		.support-note span{
			color: #ac375d;
			font-size: 13px;
			display: none;
			font-weight: bold;
			text-align: center;
			padding: 5px 0;
		}
		.no-cssanimations .support-note span.no-cssanimations,
		.no-csstransforms .support-note span.no-csstransforms,
		.no-csstransforms3d .support-note span.no-csstransforms3d,
		.no-csstransitions .support-note span.no-csstransitions{
			display: block;
		}
		.grid {
			margin: 1px 0 0 0;
			padding: 0;
			list-style: none;
			display: block;
			text-align: center;
			width: 30%;
		}

		.grid:after,
		.ch-item:before {
			content: '';
		    display: table;
		}

		.grid:after {
			clear: both;
			
		}

		.grid li {
			width: 90px;
			height: 90px;
			display: inline-block;
			margin: 10px;
		}



	/* FIN EVENTO MOUSE */
	
	
	/* INICIO DE LA CREACION DEL MENU CSS*/
	
	
		body{
		background: #eee;
		font: 13px 'trebuchet MS', Arial, Helvetica;
	}
	
	h2, p {
		text-align: center;
		color: #444;
		
	}
	
	a {
	text-align: right;
	}
	
	/* You don't need the above styles, they are demo-specific ----------- */
	
	#menu, #menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#menu {
		width: 960px;
		margin: 60px auto;
		border: 1px solid #222;
		background-color: #111;
		background-image: -moz-linear-gradient(#444, #111); 
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));	
		background-image: -webkit-linear-gradient(#444, #111);	
		background-image: -o-linear-gradient(#444, #111);
		background-image: -ms-linear-gradient(#444, #111);
		background-image: linear-gradient(#444, #111);
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		-webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}

	#menu:before,
	#menu:after {
		content: "";
		display: table;
	}
	
	#menu:after {
		clear: both;
	}
	
	#menu {
		zoom:1;
	}
	
	#menu li {
	float: left;
	border-right: 1px solid #222;
	-moz-box-shadow: 1px 0 0 #444;
	-webkit-box-shadow: 1px 0 0 #444;
	box-shadow: 1px 0 0 #444;
	position: relative;
	left: 0px;
	top: 0px;
	}
	
	#menu a {
		float: left;
		padding: 12px 30px;
		color: #999;
		text-transform: uppercase;
		font: bold 12px Arial, Helvetica;
		text-decoration: none;
		text-shadow: 0 1px 0 #000;
	}
	
	#menu li:hover > a {
		color: #fafafa;
	}
	
	*html #menu li a:hover { /* IE6 only */
		color: #fafafa;
	}
	
	#menu ul {
		margin: 20px 0 0 0;
		_margin: 0; /*IE6 only*/
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 38px;
		left: 0;
		z-index: 1;    
		background: #444;
		background: -moz-linear-gradient(#444, #111);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
		background: -webkit-linear-gradient(#444, #111);    
		background: -o-linear-gradient(#444, #111);	
		background: -ms-linear-gradient(#444, #111);	
		background: linear-gradient(#444, #111);
		-moz-box-shadow: 0 -1px rgba(255,255,255,.3);
		-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
		box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;  
	}

	#menu li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0;
	}
	
	#menu ul ul {
		top: 0;
		left: 150px;
		margin: 0 0 0 20px;
		_margin: 0; /*IE6 only*/
		-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		box-shadow: -1px 0 0 rgba(255,255,255,.3);		
	}
	
	#menu ul li {
		float: none;
		display: block;
		border: 0;
		_line-height: 0; /*IE6 only*/
		-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
		-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
		box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	}
	
	#menu ul li:last-child {   
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;    
	}
	
	#menu ul a {    
		padding: 10px;
		width: 130px;
		_height: 10px; /*IE6 only*/
		display: block;
		white-space: nowrap;
		float: none;
		text-transform: none;
	}
	
	#menu ul a:hover {
		background-color: #0186ba;
		background-image: -moz-linear-gradient(#04acec,  #0186ba);	
		background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
		background-image: -webkit-linear-gradient(#04acec, #0186ba);
		background-image: -o-linear-gradient(#04acec, #0186ba);
		background-image: -ms-linear-gradient(#04acec, #0186ba);
		background-image: linear-gradient(#04acec, #0186ba);
	}
	
	#menu ul li:first-child > a {
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}
	
	#menu ul li:first-child > a:after {
		content: '';
		position: absolute;
		left: 40px;
		top: -6px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #444;
	}
	
	#menu ul ul li:first-child a:after {
		left: -6px;
		top: 50%;
		margin-top: -6px;
		border-left: 0;	
		border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;
		border-right: 6px solid #3b3b3b;
	}
	
	#menu ul li:first-child a:hover:after {
		border-bottom-color: #04acec; 
	}
	
	#menu ul ul li:first-child a:hover:after {
		border-right-color: #0299d3; 
		border-bottom-color: transparent; 	
	}
	
	#menu ul li:last-child > a {
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
	}
	
	/* Mobile */
	#menu-trigger {
		display: none;
	}

	@media screen and (max-width: 600px) {

		/* nav-wrap */
		#menu-wrap {
			position: relative;
		}

		#menu-wrap * {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		/* menu icon */
		#menu-trigger {
			display: block; /* show menu icon */
			height: 40px;
			line-height: 40px;
			cursor: pointer;		
			padding: 0 0 0 35px;
			border: 1px solid #222;
			color: #fafafa;
			font-weight: bold;
			background-color: #111;
			background: url(data:;base64) no-repeat 10px center, -moz-linear-gradient(#444, #111); 
			background: url(data:;base64) no-repeat 10px center, -webkit-linear-gradient(#444, #111);	
			background: url(data:;base64) no-repeat 10px center, -o-linear-gradient(#444, #111);
			background: url(data:;base64) no-repeat 10px center, -ms-linear-gradient(#444, #111);
			background: url(data:;base64) no-repeat 10px center, linear-gradient(#444, #111);
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			-moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
			-webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
			box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		}
		
		/* main nav */
		#menu {
			margin: 0; padding: 10px;
			position: absolute;
			top: 40px;
			width: 100%;
			z-index: 1;
			background-color: #444;
			display: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;		
		}

		#menu:after {
			content: '';
			position: absolute;
			left: 25px;
			top: -8px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #444;
		}	

		#menu ul {
			position: static;
			visibility: visible;
			opacity: 1;
			margin: 0;
			background: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;				
		}

		#menu ul ul {
			margin: 0 0 0 20px !important;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;		
		}

		#menu li {
			position: static;
			display: block;
			float: none;
			border: 0;
			margin: 5px;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;			
		}

		#menu ul li{
			margin-left: 20px;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;		
		}

		#menu {
			display: block;
			float: none;
			padding: 0;
			color: #999;
		}

		#menu:hover{
			color: #fafafa;
		}	

		#menu ul a{
			padding: 0;
			width: auto;		
		}

		#menu ul a:hover{
			background: none;	
		}

		#menu ul li:first-child a:after,
		#menu ul ul li:first-child a:after {
			border: 0;
		}		

	}

	@media screen and (min-width: 600px) {
		#menu {
			display: block !important;
		}
	}	

	/* iPad */
	.no-transition {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
		opacity: 1;
		visibility: visible;
		display: none;  		
	}

	#menu li:hover > .no-transition {
		display: block;
	}
	
	#adpacks-wrapper{
			font-family:  Arial,Tahoma;
			width:280px;
			position:fixed;
			_position: absolute;
			bottom: 0;
			right: 5px;
			z-index: 9999;
			background: #eee;
			padding: 15px;
			box-shadow: 0 0 2px #444;
			border-radius: 5px 5px 0 0;
			}			
			
		

		body .adpacks{
			background:#fff;
			padding:15px;
			margin:15px 0 0;
			border:3px solid #eee;
			}				
		body .one .bsa_it_ad{
			background:transparent;
			border:none;
			font-family:  Arial,Tahoma;
			padding:0;
			margin:0;}/	
						
		body .one .bsa_it_ad .bsa_it_i{
			display:block;
			padding:0;
			float:left;
			margin:0 10px 0 0;
			}				
		body .one .bsa_it_ad .bsa_it_i img{
			padding:0;
			border:none;
			}				
		body .one .bsa_it_ad .bsa_it_t{
			padding: 0 0 6px 0; 
			font-size: 11px;
			}				
		body .one .bsa_it_p{
			display:none;
			}				
		body #bsap_aplink,body #bsap_aplink:hover{
			display:block;
			font-size:9px;
			margin: -20px 0 0 0;
			text-align:right;
			}				
		body .one .bsa_it_ad .bsa_it_d{
			font-size: 11px;
			}				
		body .one{
			overflow: scroll
			}				
			
			.one{
		position:relative
		}
	.one .bsa_it_ad{
		display:block;
		padding:15px;
		border:1px solid #e1e1e1;
		background:#f9f9f9;
		font-family:  Arial,Tahoma;
		line-height:100%;
		position:relative
		}
	.one .bsa_it_ad a{
		text-decoration:none
		}
	.one .bsa_it_ad a:hover{
		text-decoration:none
		}
	.one .bsa_it_ad .bsa_it_t{
		display:block;
		font-size:12px;
		font-weight:bold;
		color:#212121;
		line-height:125%;
		padding:0 0 5px 0
		}
	.one .bsa_it_ad .bsa_it_d{
		display:block;
		font-size:11px;
		color:#434343;
		font-size:12px;
		line-height:135%
		}
	.one .bsa_it_ad .bsa_it_i{
		float:left;
		margin:0 15px 10px 0
		}
	.one .bsa_it_p{
		display:block;
		text-align:right;
		position:absolute;
		bottom:10px;
		right:15px
		}
	.one .bsa_it_p {
		font-size:10px;
		color:#666;
		text-decoration:none
		}
	.one .bsa_it_ad .bsa_it_p a:hover{
		font-style:italic
		}
		
		.wrc_whole_window{	
		display: none; 	
		position: fixed; 	
		z-index: 2147483647;
		background-color: rgba(40, 40, 40, 0.9);
		word-spacing: normal;	
		margin: 0px;	
		padding: 0px;	
		border: 0px;	
		line-height: normal;	
		letter-spacing: normal;
		}
		
		.wrc_middle_main {	
		font-family:  Arial,Tahoma;
		font-size: 14px;	
		width: 600px;	
		height: auto;	
		margin: 0px auto;	
		margin-top: 15%;    
		background: url("");	
		background-color: rgb(39, 53, 62);
		}
		
		.wrc_middle_logo {   
		 background: url("") no-repeat left bottom;   
		 width: 140px;    
		 height: 42px;    
		 color: orange;    
		 display: table-cell;    
		 text-align: right;    
		 vertical-align: middle;
		 }
		 
		 .wrc_icon_warning {	
		 margin: 20px 10px 20px 15px;	
		 float: left;	
		 background-color: transparent;
		 }
		 
		 .wrc_middle_title {    
		 color: #b6bec7;	
		 height: auto;    
		 margin: 0px auto;	
		 font-size: 2.2em;	
		 white-space: nowrap;	
		 text-align: center;
		 }
		 
		 .wrc_middle_hline {    
		 height: 2px;	
		 width: 100%;    
		 display: block;
		 }
		 
		 .wrc_middle_description {	
		 text-align: center;	
		 margin: 15px;	
		 font-size: 1.4em;	
		 padding: 20px;	
		 height: auto;	
		 color: white;	
		 min-height: 3.5em;
		 }
		 
		 .wrc_middle_actions_main_div {	
		 text-align: center;	
		 margin-bottom: 15px;
		 }
		 
		 .wrc_middle_actions_blue_button {	
		 -moz-appearance: none;	
		 border-radius: 7px;	
		 -moz-border-radius: 7px/7px;	
		 border-radius: 7px/7px;	
		 background-color: rgb(0, 173, 223) !important;	
		 display: inline-block;	
		 width: auto;	
		 cursor: Pointer;	
		 border: 2px solid #00dddd;	
		 text-decoration: none;
		 }
		 
		 .wrc_middle_actions_blue_button:hover {	
		 background-color: rgb(0, 159, 212) !important;
		 }
		 
		 .wrc_middle_actions_blue_button:active {	
		 background-color: rgb(0, 146, 200) !important;	
		 border: 2px solid #00aaaa;
		 }
		 
		 .wrc_middle_actions_blue_button div {	
		 display: inline-block;	
		 width: auto;	
		 cursor: Pointer;	
		 margin: 3px 10px 3px 10px;	
		 color: white !important;	
		 font-size: 1.2em;	
		 font-weight: bold;
		 }
		 
		 .wrc_middle_action_low {	
		 font-size: 0.9em;	
		 white-space: nowrap;	
		 cursor: Pointer;	
		 color: grey !important;	
		 margin: 10px 10px 0px 10px;	
		 text-decoration: none;
		 }
		 
		 .wrc_middle_action_low:hover {	
		 color: #aa4400 !important;
		 }
		 
		 .wrc_middle_actions_rest_div {	
		 padding-top: 5px;	
		 white-space: nowrap;	
		 text-align: center;
		 }
		 
		 .wrc_middle_action {	
		 white-space: nowrap;	
		 cursor: Pointer;	
		 color: red !important;	
		 font-size: 1.2em;	
		 margin: 10px 10px 0px 10px;	
		 text-decoration: none;
		 }
		 
		 .wrc_middle_action:hover {	
		 color: #aa4400 !important;
		 }
	 

		select {
		   font-family:  Arial,Tahoma;
		   color:#333;
		    border: 1px solid #aaa;
		    border-radius: 8px;
		   
		    margin-left: 10px;
		    width: auto;
		    max-width: 900px;
			height: 30px;
		    padding: 2px;
		    font-size: 11px;
		    border: 2px solid #fff;
		    color:#333;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+54,90bff0+54,a2daf5+100 */
background: rgb(184,225,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 54%, rgba(144,191,240,1) 54%, rgba(162,218,245,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(54%,rgba(144,191,240,1)), color-stop(54%,rgba(144,191,240,1)), color-stop(100%,rgba(162,218,245,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 54%,rgba(144,191,240,1) 54%,rgba(162,218,245,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 54%,rgba(144,191,240,1) 54%,rgba(162,218,245,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 54%,rgba(144,191,240,1) 54%,rgba(162,218,245,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 54%,rgba(144,191,240,1) 54%,rgba(162,218,245,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#a2daf5',GradientType=0 ); /* IE6-9 */



		}

a {

  	transition: 0.05s ease;
 		-moz-transition: 0.05s ease; /* Firefox */
 		-webkit-transition: 0.05s ease; /* Chrome - Safari */
 		-o-transition: 0.05s	 ease; /* Opera */
}
/*
a:hover {
  color: #006;
  position: relative;
*/
    /*
transform : scale(1.05);
		-moz-transform : scale(1.05);
		-webkit-transform : scale(1.05); 
		-o-transform : scale(1.05); 
		-ms-transform : scale(1.05); 
*/
}

a[title]:hover:after {
  content: attr(title);
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;

}

		input{
        font-size:13px;	        
		border-radius: 4px;

color: #444;
		}

.textinput	{		
	border-radius: 4px;
	background-color: #fefaf7;
	color: #444;
	font-size:13px;	
		}
.botonmas{ 
        margin-left:10px;
		background:-moz-linear-gradient(#C9E2F5 0%,#C9E7F5 100%); 
		background:-ms-linear-gradient(#C9E2F5 0%,#C9E7F5 100%);
		background:-o-linear-gradient(#C9E2F5 0%,#C9E7F5 100%); 
		background:-webkit-linear-gradient(#C9E2F5 0%,#C9E7F5 100%);
		background:linear-gradient(#C9E2F5 0%,#C9E7F5 100%);
		border:solid 1px #FEFEFE; 
		border-radius:7px;
		text-align:center;
		font-family:  Arial,Tahoma;
		font-weight:bolder;
		padding:2px; 
        font-size: 16;
		color:#3999CE;
		width:38px;
    height:28px;
		} 



.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
    	
  padding:10px; 
    padding-top:29px; 
  color:#aaa;
    font-size:16px;
}


.oops { 

			padding-top: 70px;
			padding-bottom: 70px;
			font-size: 132px;
			line-height: 22px;
			margin: 0px;
    text-align: left;
			position: relative;
			font-weight: 600;
			color: #5380d3;
			width: 900px;
			text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
		}


.oops2 { 
			padding-top: 100px;
			padding-bottom: 10px;
			
		}


.bodega{
text-align: left;
position: left;
color: #0099CC;

}



@charset "ISO-8859-1";
/* FIN DEL CSS DE LA CREACION DEL MENU */