#div_loading{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:3200;
    filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.65;
    background:#999;
}

#img_loading{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}