		
body {
	font-family: Arial, Helvetica, sans-serif;
}
.tablaencabezado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0 auto;

	/* -o-border-radius: 4px;*/
	border: 1px solid #333;
	text-align: left;
	font-size: 11px;
	width: 100%;

	-moz-box-shadow: 0px 2px 5px #666;
	-webkit-box-shadow: 0px 2px 5px #666;
	box-shadow: 0px 2px 5px #666;
}		
.tablacontenido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0 auto;
	border: 1px solid #333;
	text-align: left;
	font-size: 11px;
	width: 100%;
}		

.fila1 {
	font-family:  Tahoma, sans-serif;
	font-size: 10px;
	color: #000;
	background:#DDD;
	font-weight: bolder;
	text-align:center;
	
}

.fila2 {
	font-family: Tahoma, sans-serif;
	font-size: 9px;
	color: #000;
	border-radius: 1px ;
}



